::ng-deep body {
    background-color: #f0eff0 !important;
}

p-avatar.avatar.p-avatar.p-avatar-circle.p-avatar-image.p-component {
    width: 50px !important;
    height: 50px !important;
    border: 1px solid white !important;
}

::ng-deep .menu {
    background-color: #594859 !important;
    margin-bottom: 8px !important;
    gap: 16px !important;
    padding: 20px;
}

a.p-ripple.flex.items-center.user-content.ng-star-inserted {
    display: grid !important;
    gap: 6px !important;
}

