name: Angular Tests on Main

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Install Angular CLI
        run: npm install @angular/cli@21 --save-dev --legacy-peer-deps

      - name: Run Angular tests
        run: npx ng test --watch=false

